#DrAST settings file.
#Wed May 01 23:47:10 CEST 2019
normalEdgeWidth=1.0
prevRestArgs=
showEdges=true
refEdgeWidth=2.0
NTA-depth=1
NTA-cached=true
dynamic-values=0
prevJar=build/libs/jastadd-most-1.0-SNAPSHOT.jar
prevFullArgs=C\:\\Users\\kosov\\Desktop\\jastadd-exercise\\jastadd_task\\src\\main\\resources\\generatedTask2.exp
dashedVertexEdgeWidth=0.2
NTA-computed=false
normalVertexEdgeWidth=1.0
nodeThreshold=1000
showNodes=true
prevFirstArg=C\:\\Users\\kosov\\Desktop\\jastadd-exercise\\jastadd_task\\src\\main\\resources\\generatedTask2.exp
curvedEdges=true
dashedEdgeWidth=0.2
